<?xml version="1.0" encoding="utf-8"?>
<Wix
	xmlns="http://wixtoolset.org/schemas/v4/wxs"
>
	<Module
		Id="BDE_PRO"
		Codepage="1252"
		Version="5.1.1"
		Language="0"
	>
		<Package
			Id="{957A8D99-1535-4692-A1D4-A0A70B28FE41}"
			InstallerVersion="500"
			InstallScope="perMachine"
			InstallPrivileges="elevated"
			AdminImage="no"
			Manufacturer="!(loc.Manufacturer)"
			Comments="!(loc.Comments)"
			Description="!(loc.Description)"
			Keywords="!(loc.Keywords)"
			Platform="x86"
			ShortNames="no"
		/>

		<!-- указываем на несовместимость с "родным" BDE_PRO.msm -->
		<Exclusion 
			ExcludedId="BDE_PRO.E966F0CB_76B3_11D3_945B_00C04FB1760A"
		/>
		<!-- указываем на необходимость подключения DynWrapX merge module -->
		<Dependency
			RequiredId="DynWrapX.28B8F0C1_023B_45F8_86E9_6C28E7299382"
			RequiredLanguage="0"
			RequiredVersion="2"
		/>

		<Configuration
			Name="BDEPath"
			DisplayName="!(loc.BDEPath.DisplayName)"
			Description="!(loc.BDEPath.Description)"
			Format="Key"
			NonNullable="yes"
			DefaultValue="BDE"
		/>
		<Substitution
			Table="Directory"
			Column="Directory_Parent"
			Row="BDE_INSTALL_PATH"
			Value="[=BDEPath]"
		/>
		<PropertyRef Id="BDE_INSTALL_PATH"/>

		<DirectoryRef Id="CommonFilesFolder">
			<Directory Id="BorlandSharedFolder" Name="Borland Shared">
				<Directory Id="BDE" Name="BDE">
					<Directory Id="BDE_INSTALL_PATH"/>
				</Directory>
			</Directory>
		</DirectoryRef>

		<ComponentGroupRef Id="Idapi32"/>
		<ComponentGroupRef Id="bantam.dll"/>
		<ComponentGroupRef Id="blw32.dll"/>
		<ComponentGroupRef Id="idasci32.dll"/>
		<ComponentGroupRef Id="idbat32.dll"/>
		<ComponentGroupRef Id="idda3532.dll"/>
		<ComponentGroupRef Id="iddao32.dll"/>
		<ComponentGroupRef Id="iddbas32.dll"/>
		<ComponentGroupRef Id="iddr32.dll"/>
		<ComponentGroupRef Id="idpdx32.dll"/>
		<ComponentGroupRef Id="idqbe32.dll"/>
		<ComponentGroupRef Id="ODBC32"/>
		<ComponentGroupRef Id="charset.cvb"/>
		<ComponentGroupRef Id="FormatLanguageLibs"/>
		<ComponentGroupRef Id="idr20009.dll"/>
		<ComponentGroupRef Id="Idapinst"/>
		<ComponentGroupRef Id="BdeAdmin"/>
		<ComponentGroupRef Id="QueryEditor"/>
		<ComponentGroupRef Id="InterbaseDrivers"/>
		<ComponentGroupRef Id="BdeMTSDispenser"/>
		<ComponentGroupRef Id="ITG.BDEAdministrator"/>

		<CustomActionRef Id="InstallBDEAliases"/>
		<CustomActionRef Id="RemoveBDEAliases"/>

	</Module>
</Wix>