<?xml version="1.0" encoding="utf-8"?>
<Wix
	xmlns="http://wixtoolset.org/schemas/v4/wxs"
>
	<Fragment>

		<DirectoryRef Id="SystemFolder" />
		<DirectoryRef Id="System64Folder" />
		<DirectoryRef Id="BDE_INSTALL_PATH" />
		<DirectoryRef Id="PRODUCTADMINTOOLSFOLDER" />

		<Icon Id="bdeadmin.ico" SourceFile=".\Icons\bdeadmin.ico"/>

		<ComponentGroup
			Id="BdeAdmin"
			Source=".\SourceDir"
		>

			<?define AppFileName="bdeadmin.cpl"?>

			<Component
				Id="$(var.AppFileName)"
				Guid="{C3EE3466-7A54-4B2E-ACAA-AE98E4C07373}"
				Shared="yes"
				SharedDllRefCount="yes"
				Location="local"
				Directory="SystemFolder"
			>
				<!-- устанавливаем только для ОС ниже Windows Vista -->
				<Condition><![CDATA[VersionNT < 600]]></Condition>
				<File
					Name="$(var.AppFileName)"
					KeyPath="yes"
					DefaultLanguage="1033"
					Vital="no"
				/>
			</Component>

			<?undef AppFileName?>
			<?define AppFileName="bdeadmin.exe"?>
			<?define CplId="{0507740D-0DB7-4BB0-BD6A-A3B18C3D3FDB}"?>
			
			<Component
				Id="$(var.AppFileName)"
				Guid="{E966F0DD-76B3-11D3-945B-00C04FB1760A}"
				Shared="yes"
				SharedDllRefCount="yes"
				Location="local"
				Directory="BDE_INSTALL_PATH"
			>
				<File
					Name="$(var.AppFileName)"
					Vital="no"
					KeyPath="yes"
				>
					<Shortcut
						Id="$(var.AppFileName).Shortcut"
						Directory="PRODUCTADMINTOOLSFOLDER"
						Name="!(loc.BDEAdmin.DisplayName)"
						Description="!(loc.BDEAdmin.Description)"
						WorkingDirectory="BDE_INSTALL_PATH"
						Show="normal"
						Icon="bdeadmin.ico"
						Advertise="yes"
					>
					</Shortcut>
				</File>
				<RemoveFolder
					Id="$(var.AppFileName).ShFolder"
					Directory="PRODUCTADMINTOOLSFOLDER"
					On="uninstall"
				/>
				<!-- http://www.sevenforums.com/tutorials/316-compatibility-mode.html -->
				<RegistryKey
					Root="HKLM"
					Key="Software\Microsoft\Windows NT\CurrentVersion\AppCompatFlags\Layers"
				>
					<RegistryValue Name="[#$(var.AppFileName)]" Type="string" Value="RUNASADMIN" />
				</RegistryKey>
				<RegistryKey
					Root="HKLM"
					Key="Software\Microsoft\Windows\CurrentVersion\App Paths\$(var.AppFileName)"
				>
					<RegistryValue Value="[#$(var.AppFileName)]" Type="string"/>
					<RegistryValue Name="Path" Value="[$$$(var.AppFileName)]" Type="string"/>
				</RegistryKey>

				<RegistryKey
					Root="HKCR"
					Key="Applications"
				>
					<RegistryKey Key="$(var.AppFileName)">
						<RegistryValue Type="string" Value="[#$(var.AppFileName)]" />
						<RegistryValue Name="FriendlyAppName" Type="string" Value="@[#$(var.AppFileName)],-65146;BDE Administrator" />
						<RegistryValue Name="NoOpenWith" Type="integer" Value="0" />
						<RegistryKey Key="SupportedTypes">
						</RegistryKey>
					</RegistryKey>
				</RegistryKey>
				
				<!-- http://msdn.microsoft.com/en-us/library/windows/desktop/hh127450.aspx -->
				<!-- регистрируем как аплет в панели управления для ОС от Windows Vista -->
				<RegistryKey
					Root="HKLM"
					Key="Software\Microsoft\Windows\CurrentVersion\Explorer\ControlPanel\Namespace\$(var.CplId)"
					ForceDeleteOnUninstall="yes"
				>
					<RegistryValue Value="!(loc.BDEAdmin.DisplayName)" Type="string"/>
				</RegistryKey>
				<File
					Name="bdeadmin.tasks.xml"
					Source=".\SourceDir\!(loc.Culture)\bdeadmin.tasks.xml"
					CompanionFile="$(var.AppFileName)"
					Vital="no"
				/>
				<RegistryKey
					Root="HKCR"
					Key="CLSID\$(var.CplId)"
					ForceDeleteOnUninstall="yes"
				>
					<RegistryValue Value="!(loc.BDEAdmin.DisplayName)" Type="string"/>
					<!-- http://msdn.microsoft.com/en-us/library/windows/desktop/dd374120.aspx -->
					<!--<RegistryValue Name="LocalizedString" Value="@[#$(var.AppFileName)],-65146;BDE Administrator" Type="string"/>-->
					<RegistryValue Name="LocalizedString" Value="!(loc.BDEAdmin.DisplayName)" Type="string"/>
					<RegistryValue Name="InfoTip" Value="!(loc.BDEAdmin.Description)" Type="string"/>
					<RegistryKey Key="DefaultIcon">
						<RegistryValue Value="[#$(var.AppFileName)]" Type="string"/>
					</RegistryKey>
					<RegistryKey Key="Shell\RunAs\Command">
						<RegistryValue Value="[#$(var.AppFileName)]" Type="string"/>
					</RegistryKey>
					<RegistryValue Name="System.ApplicationName" Value="Borland.BDEAdministrator" Type="string"/>
					<!-- http://msdn.microsoft.com/en-us/library/windows/desktop/cc144183.aspx -->
					<RegistryValue Name="System.ControlPanel.Category" Value="8" Type="integer"/>
					<RegistryValue Name="System.Software.TasksFileUrl" Value="[#bdeadmin.tasks.xml]" Type="string"/>
					<!-- http://msdn.microsoft.com/en-us/library/windows/desktop/cc144181.aspx -->
					<!--<RegistryValue Name="System.ControlPanel.EnableInSafeMode" Value="3" Type="integer"/>-->
				</RegistryKey>
			</Component>

			<Component
				Id="$(var.AppFileName)_x64"
				Guid="{7F24B1C2-A0FC-4E15-B827-046A155A4A34}"
				Shared="yes"
				Location="local"
				Directory="System64Folder"
				Win64="yes"
			>
				<Condition><![CDATA[VersionNT]]></Condition>
				<!-- http://msdn.microsoft.com/en-us/library/windows/desktop/hh127450.aspx -->
				<!-- регистрируем как аплет в панели управления для ОС от Windows Vista -->
				<RegistryKey
					Root="HKLM"
					Key="Software\Microsoft\Windows\CurrentVersion\Explorer\ControlPanel\Namespace\$(var.CplId)"
					ForceDeleteOnUninstall="yes"
				>
					<RegistryValue Value="!(loc.BDEAdmin.DisplayName)" Type="string"/>
				</RegistryKey>
			</Component>

			<Component
				Id="bdeadmin.hlp"
				Guid="{E966F0DC-76B3-11D3-945B-00C04FB1760A}"
				SharedDllRefCount="yes"
				Shared="yes"
				Directory="BDE_INSTALL_PATH"
			>
				<File
					Name="bdeadmin.hlp"
					Vital="no"
					KeyPath="yes"
				/>
				<File
					Name="bdeadmin.cnt"
					Vital="no"
					CompanionFile="bdeadmin.hlp"
				/>
				<File
					Name="bdeadmin.toc"
					Vital="no"
					CompanionFile="bdeadmin.hlp"
				/>
				<RegistryKey
					Root="HKLM"
					Key="Software\Microsoft\Windows\CurrentVersion\App Paths\bdeadmin.hlp"
				>
					<RegistryValue Value="[#bdeadmin.hlp]" Type="string"/>
					<RegistryValue Name="Path" Value="[$bdeadmin.hlp]" Type="string"/>
				</RegistryKey>

				<!-- http://msdn.microsoft.com/en-us/library/windows/desktop/bb776786.aspx -->
				<RegistryKey
					Root="HKLM"
					Key="Software\Microsoft\Windows\Help"
				>
					<RegistryValue Name="bdeadmin.hlp" Value="[$bdeadmin.hlp]" Type="string" />
				</RegistryKey>
			</Component>

		</ComponentGroup>

	</Fragment>
</Wix>