<?xml version="1.0" encoding="utf-8"?>
<Wix
	xmlns="http://wixtoolset.org/schemas/v4/wxs"
>
	<?define CAModule="ControlUseCount"?>
	<?if $(sys.BUILDARCH) = "x86" ?>
	<?define Win64="no" ?>
	<?else?>
	<?define Win64="yes" ?>
	<?endif?>

	<Fragment Id="$(var.CAModule)">

		<Binary Id="$(var.CAModule)" SourceFile="$(var.CAModule).js"/>

		<CustomAction
			Id="IncBDEUsageCount"
			BinaryKey="$(var.CAModule)"
			JScriptCall="IncBDEUsageCount_CA"
			Execute="immediate"
			Return="check"
			SuppressModularization="yes"
			Win64="$(var.Win64)"
		/>
		<CustomAction
			Id="IncBDEUsageCountDeferred"
			BinaryKey="$(var.CAModule)"
			JScriptCall="IncBDEUsageCountDeferred_CA"
			Execute="deferred"
			Impersonate="no"
			Return="check"
			SuppressModularization="yes"
			Win64="$(var.Win64)"
		/>
		<CustomAction
			Id="IncBDEUsageCountRollback"
			BinaryKey="$(var.CAModule)"
			JScriptCall="IncBDEUsageCountRollback_CA"
			Return="ignore"
			Execute="rollback"
			Impersonate="no"
			SuppressModularization="yes"
			Win64="$(var.Win64)"
		/>

		<CustomAction
			Id="DecBDEUsageCount"
			BinaryKey="$(var.CAModule)"
			JScriptCall="DecBDEUsageCount_CA"
			Execute="immediate"
			Return="check"
			SuppressModularization="yes"
			Win64="$(var.Win64)"
		/>
		<CustomAction
			Id="DecBDEUsageCountDeferred"
			BinaryKey="$(var.CAModule)"
			JScriptCall="DecBDEUsageCountDeferred_CA"
			Execute="deferred"
			Impersonate="no"
			Return="check"
			SuppressModularization="yes"
			Win64="$(var.Win64)"
		/>
		<CustomAction
			Id="DecBDEUsageCountRollback"
			BinaryKey="$(var.CAModule)"
			JScriptCall="DecBDEUsageCountRollback_CA"
			Return="ignore"
			Execute="rollback"
			Impersonate="no"
			SuppressModularization="yes"
			Win64="$(var.Win64)"
		/>
		
		<InstallExecuteSequence>
			<Custom Action="IncBDEUsageCount" Before="InstallFinalize">
				<![CDATA[($idapi32.dll = 3) AND (?idapi32.dll = 2)]]>
			</Custom>
			<Custom Action="DecBDEUsageCount" After="InstallInitialize">
				<![CDATA[($idapi32.dll = 2) AND (?idapi32.dll = 3)]]>
			</Custom>
		</InstallExecuteSequence>
		
	</Fragment>
</Wix>