<?xml version="1.0" encoding="utf-8"?>
<Wix
	xmlns="http://wixtoolset.org/schemas/v4/wxs"
>

	<Fragment Id="DISABLESHORTCUTS">
		<!-- установка данного свойства "отключает" создание ярлыков полностью -->
		<Property Id="DISABLESHORTCUTS" Admin="yes"/>

		<InstallExecuteSequence>
			<CreateShortcuts Sequence="4500">
				<![CDATA[NOT DISABLESHORTCUTS]]>
			</CreateShortcuts>
		</InstallExecuteSequence>
	</Fragment>

	<?define ShFolders=PRODUCTMENUFOLDER;PRODUCTDESKTOPFOLDER;PRODUCTSTARTUPFOLDER;PRODUCTADMINTOOLSFOLDER?>
	<?foreach ShFolder in $(var.ShFolders)?>
	<Fragment Id="DISABLE$(var.ShFolder)SHORTCUTS">
		<!-- возможность отключения создания ярлыков по одному -->
		<DirectoryRef Id="$(var.ShFolder)"/>
		<DirectoryRef Id="TempFolder"/>

		<Property Id="DISABLE$(var.ShFolder)SHORTCUTS" Admin="yes"/>

		<SetDirectory
			Id="$(var.ShFolder)" 
			Value="[TempFolder]"
			Sequence="execute"
		>
			<![CDATA[DISABLE$(var.ShFolder)SHORTCUTS]]>
		</SetDirectory>

	</Fragment>
	<?endforeach?>

	<Fragment Id="PRODUCTMENUFOLDER">
		<WixVariable Id="ManufacturerId" Overridable="yes" Value="ManufacturerId"/>
		<WixVariable Id="ProductInternalName" Overridable="yes" Value="ProductInternalName"/>
		<WixVariable Id="ProductShortName" Overridable="yes" Value="ProductShortName"/>
		<WixVariable Id="ProductMajorVersion" Overridable="yes" Value="ProductMajorVersion"/>
		<WixVariable Id="ProductMinorVersion" Overridable="yes" Value="ProductMinorVersion"/>

		<DirectoryRef Id="ProductVersionProgramMenuFolder">
			<Directory Id="PRODUCTMENUFOLDER" Name="!(wix.ProductShortName) !(wix.ProductMajorVersion).!(wix.ProductMinorVersion)"/>
		</DirectoryRef>
		<PropertyRef Id="DISABLEPRODUCTMENUFOLDERSHORTCUTS"/>
	</Fragment>

	<Fragment Id="PRODUCTADMINTOOLSFOLDER">
		<DirectoryRef Id="AdminToolsFolder">
			<Directory Id="PRODUCTADMINTOOLSFOLDER" SourceName="Startup"/>
		</DirectoryRef>
		<PropertyRef Id="DISABLEPRODUCTADMINTOOLSFOLDERSHORTCUTS"/>
	</Fragment>

	<Fragment Id="PRODUCTSTARTUPFOLDER">
		<DirectoryRef Id="StartupFolder">
			<Directory Id="PRODUCTSTARTUPFOLDER" SourceName="Startup"/>
		</DirectoryRef>
		<PropertyRef Id="DISABLEPRODUCTSTARTUPFOLDERSHORTCUTS"/>
	</Fragment>

	<Fragment Id="PRODUCTDESKTOPFOLDER">
		<DirectoryRef Id="DesktopFolder">
			<Directory Id="PRODUCTDESKTOPFOLDER"/>
		</DirectoryRef>
		<PropertyRef Id="DISABLEPRODUCTDESKTOPFOLDERSHORTCUTS"/>
	</Fragment>


</Wix>