<?xml version="1.0" encoding="utf-8"?>
<Wix
	xmlns="http://wixtoolset.org/schemas/v4/wxs"
>
	<?if $(sys.BUILDARCH) = "x86" ?>
	<?define PlatformPostfix="32" ?>
	<?define SystemFolderId="SystemFolder" ?>
	<?define SystemFolder="System32" ?>
	<?define ProgramFilesFolderId="ProgramFilesFolder" ?>
	<?define Win64="no" ?>
	<?else?>
	<?define PlatformPostfix="64" ?>
	<?define SystemFolderId="System64Folder" ?>
	<?define SystemFolder="System64" ?>
	<?define ProgramFilesFolderId="ProgramFiles64Folder" ?>
	<?define Win64="yes" ?>
	<?endif?>

	<Fragment Id="TARGETDIR">
		<Directory Id="TARGETDIR" Name="SourceDir"/>
	</Fragment>

	<Fragment Id="PRIMARYFOLDER">
		<WixVariable Id="PRIMARYFOLDER" Overridable="yes" Value="PRODUCTPROGRAMFOLDER"/>

		<Property Id="PRIMARYFOLDER" Value="!(wix.ManufacturerId)"/>
		<!--
			продукт обязательно должен содержать определение свойства PRIMARYFOLDER,
			указывающего на идентификатор каталога установки приложения
			http://msdn.microsoft.com/en-us/library/aa370845.aspx
		-->

		<!-- http://msdn.microsoft.com/en-us/library/aa367589.aspx -->
		<SetProperty Id="ARPINSTALLLOCATION" Value="[[PRIMARYFOLDER]]" Sequence="execute" Before="InstallInitialize">
			<![CDATA[NOT Installed]]>
		</SetProperty>
	</Fragment>

	<Fragment Id="ProgramFilesFolder">
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="$(var.ProgramFilesFolderId)" SourceName="Program Files" ShortSourceName="PrgFiles"/>
		</DirectoryRef>
		<IgnoreModularization Type="Directory" Name="$(var.ProgramFilesFolderId)"/>
	</Fragment>
	
	<Fragment Id="PRODUCTPROGRAMFOLDER">
		<WixVariable Id="ManufacturerId" Overridable="yes" Value="ManufacturerId"/>
		<WixVariable Id="ProductInternalName" Overridable="yes" Value="ProductInternalName"/>
		<WixVariable Id="ProductMajorVersion" Overridable="yes" Value="ProductMajorVersion"/>
		<WixVariable Id="ProductMinorVersion" Overridable="yes" Value="ProductMinorVersion"/>

		<DirectoryRef Id="$(var.ProgramFilesFolderId)">
			<Directory Id="ManufacturerProgramFolder" Name="!(wix.ManufacturerId)">
				<Directory Id="ProductProgramFolder" Name="!(wix.ProductInternalName)">
					<Directory Id="ProductVersionProgramFolder" Name="!(wix.ProductMajorVersion).!(wix.ProductMinorVersion)">
						<Directory Id="PRODUCTPROGRAMFOLDER"/>
					</Directory>
				</Directory>
			</Directory>
		</DirectoryRef>

		<Property Id="PRODUCTPROGRAMFOLDER" Admin="yes" />
	</Fragment>

	<Fragment Id="WindowsFolder">
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="WindowsFolder" SourceName="Windows"/>
		</DirectoryRef>
		<IgnoreModularization Type="Directory" Name="WindowsFolder"/>
	</Fragment>

	<Fragment Id="SystemFolder">
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="$(var.SystemFolderId)" SourceName="System32"/>
		</DirectoryRef>
		<IgnoreModularization Type="Directory" Name="$(var.SystemFolderId)"/>
	</Fragment>

	<Fragment Id="CommonFilesFolder">
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="CommonFilesFolder" SourceName="Common"/>
		</DirectoryRef>
		<IgnoreModularization Type="Directory" Name="CommonFilesFolder"/>
	</Fragment>

	<Fragment Id="CommonAppDataFolder">
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="CommonAppDataFolder" ShortSourceName="CAppData" SourceName="CommonAppData"/>
		</DirectoryRef>
		<IgnoreModularization Type="Directory" Name="CommonAppDataFolder"/>
	</Fragment>

	<Fragment Id="PRODUCTCOMMONAPPDATAFOLDER">
		<WixVariable Id="ManufacturerId" Overridable="yes" Value="ManufacturerId"/>
		<WixVariable Id="ProductInternalName" Overridable="yes" Value="ProductInternalName"/>
		<WixVariable Id="ProductMajorVersion" Overridable="yes" Value="ProductMajorVersion"/>
		<WixVariable Id="ProductMinorVersion" Overridable="yes" Value="ProductMinorVersion"/>

		<DirectoryRef Id="CommonAppDataFolder">
			<Directory Id="ManufacturerCommonAppDataFolder" Name="!(wix.ManufacturerId)">
				<Directory Id="ProductCommonAppDataFolder" Name="!(wix.ProductInternalName)">
					<Directory Id="ProductVersionCommonAppDataFolder" Name="!(wix.ProductMajorVersion).!(wix.ProductMinorVersion)">
						<Directory Id="PRODUCTCOMMONAPPDATAFOLDER"/>
					</Directory>
				</Directory>
			</Directory>
		</DirectoryRef>

		<Property Id="PRODUCTCOMMONAPPDATAFOLDER" Admin="yes" />
	</Fragment>

	<Fragment Id="AppDataFolder">
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="AppDataFolder" SourceName="Application Data" ShortSourceName="AppData"/>
		</DirectoryRef>
		<IgnoreModularization Type="Directory" Name="AppDataFolder"/>
	</Fragment>

	<Fragment Id="PRODUCTAPPDATAFOLDER">
		<WixVariable Id="ManufacturerId" Overridable="yes" Value="ManufacturerId"/>
		<WixVariable Id="ProductInternalName" Overridable="yes" Value="ProductInternalName"/>
		<WixVariable Id="ProductMajorVersion" Overridable="yes" Value="ProductMajorVersion"/>
		<WixVariable Id="ProductMinorVersion" Overridable="yes" Value="ProductMinorVersion"/>

		<DirectoryRef Id="AppDataFolder">
			<Directory Id="ManufacturerAppDataFolder" Name="!(wix.ManufacturerId)">
				<Directory Id="ProductAppDataFolder" Name="!(wix.ProductInternalName)">
					<Directory Id="ProductVersionAppDataFolder" Name="!(wix.ProductMajorVersion).!(wix.ProductMinorVersion)">
						<Directory Id="PRODUCTAPPDATAFOLDER"/>
					</Directory>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>

	<Fragment Id="ProgramMenuFolder">
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="ProgramMenuFolder" SourceName="Programs"/>
		</DirectoryRef>
		<IgnoreModularization Type="Directory" Name="ProgramMenuFolder"/>
	</Fragment>

	<Fragment Id="ProductVersionProgramMenuFolder">
		<WixVariable Id="ManufacturerId" Overridable="yes" Value="ManufacturerId"/>
		<WixVariable Id="ProductInternalName" Overridable="yes" Value="ProductInternalName"/>
		<WixVariable Id="ProductShortName" Overridable="yes" Value="ProductShortName"/>
		<WixVariable Id="ProductMajorVersion" Overridable="yes" Value="ProductMajorVersion"/>
		<WixVariable Id="ProductMinorVersion" Overridable="yes" Value="ProductMinorVersion"/>

		<DirectoryRef Id="ProgramMenuFolder">
			<Directory Id="ManufacturerProgramMenuFolder">
				<Directory Id="ProductProgramMenuFolder">
					<Directory Id="ProductVersionProgramMenuFolder"/>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>

	<Fragment Id="AdminToolsFolder">
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="AdminToolsFolder" SourceName="AdminTools"/>
		</DirectoryRef>
		<IgnoreModularization Type="Directory" Name="AdminToolsFolder"/>
	</Fragment>

	<Fragment Id="StartupFolder">
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="StartupFolder" SourceName="Startup"/>
		</DirectoryRef>
		<IgnoreModularization Type="Directory" Name="StartupFolder"/>
	</Fragment>

	<Fragment Id="DesktopFolder">
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="DesktopFolder" SourceName="Desktop"/>
		</DirectoryRef>
		<IgnoreModularization Type="Directory" Name="DesktopFolder"/>
	</Fragment>

	<Fragment Id="PersonalFolder">
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="PersonalFolder" SourceName="Personal"/>
		</DirectoryRef>
		<IgnoreModularization Type="Directory" Name="PersonalFolder"/>
	</Fragment>

	<Fragment Id="PRODUCTPERSONALFOLDER">
		<WixVariable Id="ManufacturerId" Overridable="yes" Value="ManufacturerId"/>
		<WixVariable Id="ProductInternalName" Overridable="yes" Value="ProductInternalName"/>
		<WixVariable Id="ProductMajorVersion" Overridable="yes" Value="ProductMajorVersion"/>
		<WixVariable Id="ProductMinorVersion" Overridable="yes" Value="ProductMinorVersion"/>

		<DirectoryRef Id="PersonalFolder">
			<Directory Id="ManufacturerPersonalFolder">
				<Directory Id="ProductPersonalFolder" Name="!(wix.ProductInternalName)">
					<Directory Id="ProductVersionPersonalFolder">
						<Directory Id="PRODUCTPERSONALFOLDER"/>
					</Directory>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>

	<Fragment Id="TemplateFolder">
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="TemplateFolder" SourceName="Template"/>
		</DirectoryRef>
		<IgnoreModularization Type="Directory" Name="TemplateFolder"/>
	</Fragment>

	<Fragment Id="PRODUCTTEMPLATEFOLDER">
		<WixVariable Id="ManufacturerId" Overridable="yes" Value="ManufacturerId"/>
		<WixVariable Id="ProductInternalName" Overridable="yes" Value="ProductInternalName"/>
		<WixVariable Id="ProductMajorVersion" Overridable="yes" Value="ProductMajorVersion"/>
		<WixVariable Id="ProductMinorVersion" Overridable="yes" Value="ProductMinorVersion"/>

		<DirectoryRef Id="TemplateFolder">
			<Directory Id="ManufacturerTemplateFolder">
				<Directory Id="ProductTemplateFolder">
					<Directory Id="ProductVersionTemplateFolder">
						<Directory Id="PRODUCTTEMPLATEFOLDER"/>
					</Directory>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>

	<Fragment Id="TempFolder">
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="TempFolder" SourceName="Temp"/>
		</DirectoryRef>
		<IgnoreModularization Type="Directory" Name="TempFolder"/>
	</Fragment>

	<Fragment Id="DATABASEDIR">
		<?define PropertyId="DATABASEDIR"?>
		
		<Property Id="$(var.PropertyId)" Secure="yes" SuppressModularization="yes"/>

		<CustomAction
			Id="Set$(var.PropertyId)"
			Script="jscript"
		><![CDATA[
			var fso = new ActiveXObject( "Scripting.FileSystemObject" );
			Session.Property( "$(var.PropertyId)" ) = fso.GetParentFolderName( Session.Property( "DATABASE" ) )	+ "\\" ;
		]]></CustomAction>

		<InstallExecuteSequence>
			<Custom Action="Set$(var.PropertyId)" Before="InstallInitialize"/>
		</InstallExecuteSequence>
		<?undef PropertyId?>
	</Fragment>

</Wix>