<?xml version="1.0" encoding="utf-8"?>
<Wix
	xmlns="http://wixtoolset.org/schemas/v4/wxs"
>

	<?include NevaTest3303P.wxi?>

	<Fragment>

		<?define AppVersion="01.00.0000.0000"?>
		<?define AppMajorVersion="1"?>
		<?define AppMinorVersion="0"?>
		<?define AppShortName="$(var.ProductShortName)"?>
		<?define AppInternalName="$(var.ProductInternalName)"?>
		<?define AppDirectory="PRODUCTPROGRAMFOLDER"?>
		<?define AppDescription="$(var.ProductDescription)"?>
		<!--<?define AppFileName="$(var.AppInternalName).exe"?>-->
		<?define AppFileName="hsall.exe"?>
		<?define AppIcon="Product.ico"?>
		<?define AppFileNameAliases="$(var.AppFileName)"?>

		<?define AppRegKey="$(var.ProductRegKey)"?>

		<?define AppUserModelId="$(var.ProductProgIdPrefix).$(var.AppInternalName).$(var.AppMajorVersion).$(var.AppMinorVersion)"?>

		<Feature
			Id="$(var.AppInternalName)"
			Level="1"
			Absent="disallow"
			Display="2"
			AllowAdvertise="yes"
			InstallDefault="local"
			TypicalDefault="install"
			Title="$(var.AppShortName)"
			Description="$(var.AppDescription)"
			ConfigurableDirectory="$(var.AppDirectory)"
		>
			<ComponentRef Id="$(var.AppInternalName)" Primary="yes"/>
			<ComponentGroupRef Id="LocResources"/>
			<ComponentRef Id="hscom.dll"/>
			<ComponentRef Id="hsgps.dll"/>
			<ComponentRef Id="line485.exe"/>
			<ComponentGroupRef Id="barcode.dll"/>

			<ComponentGroupRef Id="DBsAlias"/>
			<MergeRef Id="BDE"/>
			<MergeRef Id="DynWrapX"/>

			<ComponentRef Id="test.ini"/>
			<ComponentRef Id="OEMName.ini"/>
			<ComponentRef Id="GridWidth.ini"/>
			<ComponentRef Id="CorpInfo.ini"/>
			<ComponentGroupRef Id="MetersList"/>
		</Feature>

		<DirectoryRef Id="$(var.AppDirectory)" FileSource=".\SourceDir\ProgramFiles">

			<Component
				Id="$(var.AppInternalName)"
				Guid="{22840553-62E6-4613-B266-FF271E040598}"
				Location="either"
			>
				<File
					Name="$(var.AppFileName)"
					KeyPath="yes"
					Vital="yes"
					Checksum="yes"
				>
					<?foreach ShFolder in $(var.ShFolders)?>
					<Shortcut
						Id="$(var.AppInternalName).Shortcut.$(var.ShFolder)"
						Directory="$(var.ShFolder)"
						Name="$(var.AppShortName)"
						Description="$(var.AppDescription)"
						WorkingDirectory="$(var.AppDirectory)"
						Show="normal"
						Icon="$(var.AppIcon)"
						Advertise="yes"
					>
						<!--<ShortcutProperty Key="System.AppUserModel.ID" Value="$(var.AppUserModelId)"/>-->
					</Shortcut>
					<?endforeach?>
				</File>

				<IsolateComponent Shared="barcode.dll"/>

				<?foreach ShFolder in $(var.ShFolders2)?>
				<RemoveFolder
					Id="$(var.AppInternalName).ShFolder.$(var.ShFolder)"
					Directory="$(var.ShFolder)"
					On="uninstall"
				/>
				<?endforeach?>

				<!-- http://msdn.microsoft.com/ru-RU/library/windows/desktop/ee872121(v=vs.85).aspx -->
				<RegistryKey
					Root="HKLM"
					Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths"
				>
					<?foreach AppFileNameAlias in $(var.AppFileNameAliases)?>
					<RegistryKey Key="$(var.AppFileNameAlias)">
						<RegistryValue Type="string" Value="[#$(var.AppFileName)]" />
					</RegistryKey>
					<?endforeach?>
				</RegistryKey>
				<RegistryKey
					Root="HKCR"
					Key="Applications"
				>
					<RegistryKey Key="$(var.AppFileName)">
						<RegistryValue Type="string" Value="[#$(var.AppFileName)]" />
						<RegistryValue Name="FriendlyAppName" Type="string" Value="$(var.AppShortName)" />
						<RegistryValue Name="NoOpenWith" Type="integer" Value="0" />
						<RegistryKey Key="SupportedTypes">
						</RegistryKey>
					</RegistryKey>
				</RegistryKey>
				<RegistryKey
					Root="HKLM"
					Key="SOFTWARE\RegisteredApplications"
				>
					<RegistryValue Name="$(var.AppUserModelId)" Type="string" Value="$(var.AppRegKey)\Capabilities" />
				</RegistryKey>
				<RegistryKey
					Root="HKLM"
					Key="$(var.AppRegKey)\Capabilities"
				>
					<RegistryValue Name="ApplicationName" Type="string" Value="$(var.AppShortName)" />
					<RegistryValue Name="ApplicationDescription" Type="string" Value="$(var.AppDescription)" />
					<RegistryValue Name="Hidden" Type="integer" Value="0" />
					<RegistryKey Key="FileAssociations">
					</RegistryKey>
					<RegistryKey Key="MIMEAssociations">
					</RegistryKey>
				</RegistryKey>
			</Component>

			<Component
				Id="hscom.dll"
				Guid="{1805CC61-655E-4356-B7DA-B87E241F2BD5}"
				Location="either"
			>
				<File
					Name="hscom.dll"
					KeyPath="yes"
					Vital="yes"
					Checksum="yes"
				/>
			</Component>

			<Component
				Id="hsgps.dll"
				Guid="{255B6DE6-7AA4-4582-9F21-6C8430506C03}"
				Location="either"
			>
				<File
					Name="hsgps.dll"
					KeyPath="yes"
					Vital="yes"
					Checksum="yes"
				/>
			</Component>

			<Component
				Id="line485.exe"
				Guid="{99AA8106-35FB-4C9A-93EA-E8140AC39C9D}"
				Location="either"
			>
				<File
					Name="line485.exe"
					KeyPath="yes"
					Vital="yes"
					Checksum="yes"
				/>
			</Component>

			<Component
				Id="test.ini"
				Guid="{D5D14DAA-3F1A-4B59-B04D-5B7F4A83F839}"
				Location="either"
			>
				<File
					Name="test.ini"
					KeyPath="yes"
					Vital="yes"
				/>
				<!-- в дальнейшем необходимо разобраться с назначением данных параметров и оформить их должным образом -->
				<IniFile
					Id="SetTXTDir"
					Directory="$(var.AppDirectory)"
					Name="test.ini"
					Section="DB_SAVE"
					Key="TXTDir"
					Value="C:\temp"
					Action="createLine"
				/>
				<IniFile
					Id="SetDirectWriteDir"
					Directory="$(var.AppDirectory)"
					Name="test.ini"
					Section="AUTO_TEST"
					Key="DirectWriteDir"
					Value="C:\SYTransition.txt"
					Action="createLine"
				/>
			</Component>

			<Component
				Id="OEMName.ini"
				Guid="{885C05B7-38F2-4296-BA9F-39851BC268BD}"
				Location="either"
			>
				<!-- таблица соответствия брендов поставщиков реальной модели прибора -->
				<File
					Name="OEMName.ini"
					KeyPath="yes"
					Vital="yes"
				/>
			</Component>

			<Component
				Id="GridWidth.ini"
				Guid="{7E8FFBCB-B49E-4C85-B07B-80312CFAB344}"
				Location="either"
			>
				<!-- сохранённые настройки интерфейса -->
				<!-- вероятнее всего, продукт будет пытаться писать в этот файл, поэтому имеет смысл не устанавливать его, а дать
				возможность продукту создать его в "песочнице". Либо придётся на него давать права на запись. -->
				<File
					Name="GridWidth.ini"
					KeyPath="yes"
					Vital="no"
					Checksum="no"
				/>
			</Component>

			<Component
				Id="CorpInfo.ini"
				Guid="{BAB92BEC-DBCA-4C87-80C9-037D1852E0F9}"
				Location="either"
			>
				<RegistryKey
					Root="HKLM"
					Key="$(var.AppRegKey)"
				>
					<RegistryValue Name="AppShortName" Value="$(var.AppShortName)" Type="string" KeyPath="yes"/>
				</RegistryKey>
				<!-- информация о компании-поставщике (или о потребителе? Проверить необходимо) -->
				<IniFile
					Id="Set.CorpInfo.Application.Title"
					Directory="$(var.AppDirectory)"
					Name="CorpInfo.ini"
					Section="Company Information"
					Key="Application.Title"
					Value="$(var.AppShortName)"
					Action="createLine"
				/>
				<IniFile
					Id="Set.CorpInfo.MainForm.Caption"
					Directory="$(var.AppDirectory)"
					Name="CorpInfo.ini"
					Section="Company Information"
					Key="MainForm.Caption"
					Value="$(var.AppDescription)"
					Action="createLine"
				/>
				<IniFile
					Id="Set.CorpInfo.CompanyName"
					Directory="$(var.AppDirectory)"
					Name="CorpInfo.ini"
					Section="Company Information"
					Key="$(var.Manufacturer)"
					Value="НЕВА-Тест3303"
					Action="createLine"
				/>
				<IniFile
					Id="Set.CorpInfo.CompanyNameE"
					Directory="$(var.AppDirectory)"
					Name="CorpInfo.ini"
					Section="Company Information"
					Key="CompanyNameE"
					Value="$(var.Manufacturer)"
					Action="createLine"
				/>
			</Component>

		</DirectoryRef>

	</Fragment>
</Wix>
