<?xml version="1.0" encoding="utf-8"?>
<Wix
	xmlns="http://wixtoolset.org/schemas/v4/wxs"
>
	<Fragment>

		<DirectoryRef Id="TARGETDIR">
			<Merge
				Id="BDE"
				SourceFile="$(var.ITGBDE_PRO.ru-ru.TargetPath)"
				Language="0"
				DiskId="1"
			>
				<!--<ConfigurationData Name="BDEPath" Value="SystemFolder"/>-->
			</Merge>
		</DirectoryRef>

	</Fragment>
</Wix>