<?xml version="1.0" encoding="utf-8"?>
<Wix
	xmlns="http://wixtoolset.org/schemas/v4/wxs"
>

	<?include NevaTest3303P.wxi?>

	<Fragment>

		<?define DBsShortName="!(loc.Database)"?>
		<?define DBsInternalName="APPDATABASE"?>
		<?define DBsDescription="!(loc.DatabaseDescription)"?>

		<?define DBsDirectory="$(var.DBsInternalName)FOLDER"?>

		<Feature
			Id="$(var.DBsInternalName)"
			Level="2"
			Absent="allow"
			Display="2"
			AllowAdvertise="no"
			InstallDefault="local"
			TypicalDefault="install"
			Title="$(var.DBsShortName)"
			Description="$(var.DBsDescription)"
			ConfigurableDirectory="$(var.DBsDirectory)"
		>
			<MergeRef Id="BDE"/>

			<ComponentGroupRef Id="DBsFiles"/>
		</Feature>

		<Binary Id="bdemerge.ini" SourceFile=".\msm\bde\bdemerge.ini"/>

		<DirectoryRef Id="PRODUCTCOMMONAPPDATAFOLDER">
			<Directory
				Id="$(var.DBsInternalName)FOLDER"
				Name="DB"
				FileSource=".\SourceDir\Database"
			/> 
		</DirectoryRef>

		<ComponentGroup
			Id="DBsFiles"
			Directory="$(var.DBsInternalName)FOLDER"
			Source=".\SourceDir\Database"
		>
			<Component
				Id="csfzk"
				Guid="{2CAB7D0A-1B47-424D-B7ED-5F488FF249AB}"
				NeverOverwrite="yes"
				Location="local"
				MultiInstance="yes"
			>
				<File
					Name="csfzk.dbf"
					Vital="yes"
					KeyPath="yes"
				/>
				<File
					Name="csfzk.cdx"
					Vital="yes"
					CompanionFile="csfzk.dbf"
				/>
				<File
					Name="csfzk.fpt"
					Vital="yes"
					CompanionFile="csfzk.dbf"
				/>
			</Component>
			<Component
				Id="custphase"
				Guid="{CD48C6A7-1DFE-4051-9DA8-44EC9B899501}"
				NeverOverwrite="yes"
				Location="local"
				MultiInstance="yes"
			>
				<File
					Name="custphase.dbf"
					Vital="yes"
					KeyPath="yes"
				/>
			</Component>
			<Component
				Id="dy_jd"
				Guid="{1EF11027-9137-454D-BD18-09F582F8F2E1}"
				NeverOverwrite="yes"
				Location="local"
				MultiInstance="yes"
			>
				<File
					Name="dy_jd.dbf"
					Vital="yes"
					KeyPath="yes"
				/>
			</Component>
			<Component
				Id="hsdnb"
				Guid="{66BD5DD4-6468-4975-A478-1EE8FD4E2E2E}"
				NeverOverwrite="yes"
				Location="local"
				MultiInstance="yes"
			>
				<File
					Name="hsdnb.mdb"
					Vital="yes"
					KeyPath="yes"
				/>
			</Component>
			<Component
				Id="jytemp"
				Guid="{95A7AA96-FEEF-4296-983A-3FD70D61EC81}"
				NeverOverwrite="yes"
				Location="local"
				MultiInstance="yes"
			>
				<File
					Name="jytemp.dbf"
					Vital="yes"
					KeyPath="yes"
				/>
				<File
					Name="jytemp.dbt"
					Vital="yes"
					CompanionFile="jytemp.dbf"
				/>
			</Component>
			<Component
				Id="txbm_bmdm"
				Guid="{D196A6D7-0137-4BBB-999B-08FB349D415A}"
				NeverOverwrite="yes"
				Location="local"
				MultiInstance="yes"
			>
				<File
					Name="txbm_bmdm.dbf"
					Vital="yes"
					KeyPath="yes"
				/>
				<File
					Name="txbm_bmdm.mdx"
					Vital="yes"
					CompanionFile="txbm_bmdm.dbf"
				/>
			</Component>
			<Component
				Id="txbm_det"
				Guid="{64CB07B0-5F18-4DCB-A639-CE8B40B5CC51}"
				NeverOverwrite="yes"
				Location="local"
				MultiInstance="yes"
			>
				<File
					Name="txbm_det.dbf"
					Vital="yes"
					KeyPath="yes"
				/>
				<File
					Name="txbm_det.cdx"
					Vital="yes"
					CompanionFile="txbm_det.dbf"
				/>
				<File
					Name="txbm_det.mdx"
					Vital="yes"
					CompanionFile="txbm_det.dbf"
				/>
			</Component>
			<Component
				Id="txbm_main"
				Guid="{EC75CD0A-C248-4B7F-B34E-B315A181078B}"
				NeverOverwrite="yes"
				Location="local"
				MultiInstance="yes"
			>
				<File
					Name="txbm_main.dbf"
					Vital="yes"
					KeyPath="yes"
				/>
				<File
					Name="txbm_main.mdx"
					Vital="yes"
					CompanionFile="txbm_main.dbf"
				/>
			</Component>
			<Component
				Id="xtsj"
				Guid="{7A156ED2-3EEC-43DD-A2DE-58F5F7FD16CA}"
				NeverOverwrite="yes"
				Location="local"
				MultiInstance="yes"
			>
				<File
					Name="xtsj.dbf"
					Vital="yes"
					KeyPath="yes"
				/>
				<File
					Name="xtsj.fpt"
					Vital="yes"
					CompanionFile="xtsj.dbf"
				/>
			</Component>
			<Component
				Id="yhCsd"
				Guid="{641ABC91-78CB-4E3A-9EF1-F6D187CD4B29}"
				NeverOverwrite="yes"
				Location="local"
				MultiInstance="yes"
			>
				<File
					Name="yhCsd.dbf"
					Vital="yes"
					KeyPath="yes"
				/>
				<File
					Name="yhCsd.fpt"
					Vital="yes"
					CompanionFile="yhCsd.dbf"
				/>
			</Component>
			<Component
				Id="yxyhcsd"
				Guid="{9DACADA7-1AC0-4318-9950-B18FDEF68946}"
				NeverOverwrite="yes"
				Location="local"
				MultiInstance="yes"
			>
				<File
					Name="yxyhcsd.dbf"
					Vital="yes"
					KeyPath="yes"
				/>
				<File
					Name="yxyhcsd.fpt"
					Vital="yes"
					CompanionFile="yxyhcsd.dbf"
				/>
			</Component>
			<Component
				Id="zczk"
				Guid="{B43541A3-29AD-43DE-A3CF-E124BB1CF877}"
				NeverOverwrite="yes"
				Location="local"
				MultiInstance="yes"
			>
				<File
					Name="zczk.dbf"
					Vital="yes"
					KeyPath="yes"
				/>
				<File
					Name="zczk.mdx"
					Vital="yes"
					CompanionFile="zczk.dbf"
				/>
			</Component>
		</ComponentGroup>

	</Fragment>
</Wix>
