<?xml version="1.0" encoding="UTF-8"?>
<Wix
	xmlns="http://wixtoolset.org/schemas/v4/wxs"
>

	<?include NevaTest3303P.wxi?>

	<Product
		Id="$(var.ProductCode)"
		Name="$(var.Manufacturer) $(var.ProductName)"
		Version="$(var.ProductVersion)"
		Language="1049"
		Manufacturer="$(var.Manufacturer)"
		UpgradeCode="$(var.UpgradeCode)"
	>
		
		<Package
			InstallerVersion="500"
			InstallScope="perMachine"
			InstallPrivileges="elevated"
			AdminImage="$(var.IsAdminImage)"
			Compressed="$(var.Compressed)"
			Manufacturer="IT-Service"
			ShortNames="no"
			Description="!(loc.PackageDescription) $(var.ProductName)."
			Comments="!(loc.PackageDescription) $(var.ProductName)."
			Keywords="Installer, $(var.ProductShortName)"
		/>

		<WixVariable Id="ManufacturerId"      Value="$(var.ManufacturerId)"/>
		<WixVariable Id="Manufacturer"        Value="$(var.Manufacturer)"/>
		<WixVariable Id="ProductInternalName" Value="$(var.ProductInternalName)"/>
		<WixVariable Id="ProductDescription"  Value="$(var.ProductDescription)"/>
		<WixVariable Id="ProductShortName"    Value="$(var.ProductMenuGroupName)"/>
		<WixVariable Id="ProductVersion"      Value="$(var.ProductVersion)"/>
		<WixVariable Id="ProductMajorVersion" Value="$(var.ProductMajorVersion)"/>
		<WixVariable Id="ProductMinorVersion" Value="$(var.ProductMinorVersion)"/>
		<WixVariable Id="GitHubAccount"       Value="Metrolog"/>
		<WixVariable Id="GitHubRepository"    Value="ITG.$(var.ProductInternalName)"/>
		<WixVariable Id="PRIMARYFOLDER"       Value="PRODUCTPROGRAMFOLDER"/>

		<FeatureRef Id="$(var.ProductInternalName)"/>
		<FeatureRef Id="APPDATABASE"/>

		<Upgrade Id="$(var.UpgradeCode)">
			<UpgradeVersion
				Minimum="$(var.ProductVersion)"
				IncludeMinimum="no"
				Property="WIX_DOWNGRADE_DETECTED"
			/>
			<UpgradeVersion
				Minimum="1.0.0"
				IncludeMinimum="yes"
				Maximum="$(var.ProductVersion)"
				IncludeMaximum="no"
				RemoveFeatures=" "
				Property="WIX_MINOR_UPGRADE_DETECTED"
				MigrateFeatures="yes"
				IgnoreRemoveFailure="no"
			/>
		</Upgrade>
		<Condition Message="!(loc.NewProductVersionExists)">
			<![CDATA[NOT WIX_DOWNGRADE_DETECTED]]>
		</Condition>
		<InstallExecuteSequence>
			<RemoveExistingProducts After="InstallExecute"/>
		</InstallExecuteSequence>

		<CustomActionRef Id="UninstallOriginalOLDPackage"/>

		<PropertyRef Id="ITGPACKAGE"/>
		<Property Id="ARPCOMMENTS" Value="$(var.ProductDescription)"/>
		<Property Id="ARPCONTACT" Value="IT-Service"/>

		<?ifdef AdminImage ?>
		<Property Id="ARPNOMODIFY" Value="1"/>
		<?endif?>
		<!--<Property Id="ARPNOREMOVE" Value="1"/>-->
		<!--<Property Id="ARPNOREPAIR" Value="1"/>-->
		<!--<Property Id="ARPSYSTEMCOMPONENT" Value="1"/>-->

		<Property Id="MSIARPSETTINGSIDENTIFIER" Value="$(var.ProductSettingsKey)"/>
		<PropertyRef Id="MSIDEPLOYMENTCOMPLIANT"/>

		<Icon Id="Product.ico" SourceFile=".\Icons\Product.ico"/>
		<Property Id="ARPPRODUCTICON" Value="Product.ico"/>
		
		<PropertyRef Id="PRIMARYFOLDER"/>

		<!--<Property Id="ARPSIZE" Value=""/>-->

		<?ifdef AdminImage ?>
		<Property Id="MSIFASTINSTALL" Value="3"/>
		<?endif?>

		<Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable"/>
		
		<Property Id="INSTALLLEVEL" Value="3"/>

		<MediaTemplate EmbedCab="$(var.Compressed)"/>

		<PropertyRef Id="DISABLESHORTCUTS"/>
		<?foreach ShFolder in $(var.ShFolders)?>
		<PropertyRef Id="DISABLE$(var.ShFolder)SHORTCUTS"/>
		<?endforeach?>

		<?ifndef AdminImage ?>

		<UI>
			<UIRef Id="WixUI_MondoWithoutLicenseDlg"/>
			<!--<UIRef Id="WixUI_ErrorProgressText" />-->
		</UI>
		<Property Id="WixAppFolder" Value="WixPerMachineFolder" />
		<WixVariable Id="WixUISupportPerUser" Value="0" />
		<!--<WixVariable Id="WixUILicenseRtf" Value="eula.rtf" />-->

		<?endif?>

	</Product>

</Wix>