<?xml version="1.0" encoding="utf-8"?>
<Wix
	xmlns="http://wixtoolset.org/schemas/v4/wxs"
>

	<?include DynWrapX.wxi?>

	<Module
		Id="$(var.ProductInternalName)"
		Codepage="1252"
		Version="$(var.ProductVersion)"
		Language="0"
	>
		<Package
			Id="$(var.ProductCode)"
			InstallerVersion="500"
			AdminImage="no"
			Manufacturer="!(loc.Manufacturer)"
			Comments="!(loc.Comments)"
			Description="!(loc.Description)"
			Keywords="!(loc.Keywords)"
			ShortNames="no"
		/>

		<!-- каталог установки DynWrapX.dll -->
		<Configuration
			Name="InstallPath"
			DisplayName="!(loc.InstallPath.DisplayName)"
			Description="!(loc.InstallPath.Description)"
			Format="Key"
			NonNullable="yes"
			DefaultValue="$(var.SystemFolderId)"
		/>
		<Substitution
			Table="Directory"
			Column="Directory_Parent"
			Row="DynWrapX"
			Value="[=InstallPath]"
		/>

		<!-- устанавливать ли справку к DynWrapX.dll -->
		<PropertyRef Id="INSTALLDYNWRAPXHELP"/>
		<Configuration
			Name="INSTALLDYNWRAPXHELP"
			DisplayName="!(loc.HelpInstall.DisplayName)"
			Description="!(loc.HelpInstall.Description)"
			Format="Integer"
			NonNullable="no"
		/>
		<Substitution
			Table="Property"
			Column="Value"
			Row="INSTALLDYNWRAPXHELP"
			Value="[=INSTALLDYNWRAPXHELP]"
		/>

		<!-- каталог установки справки к DynWrapX.dll -->
		<Configuration
			Name="HelpInstallPath"
			DisplayName="!(loc.HelpInstallPath.DisplayName)"
			Description="!(loc.HelpInstallPath.Description)"
			Format="Key"
			NonNullable="yes"
			DefaultValue="HelpFolder"
		/>
		<Substitution
			Table="Directory"
			Column="Directory_Parent"
			Row="PRODUCTHELPFOLDER"
			Value="[=HelpInstallPath]"
		/>

		<DirectoryRef Id="$(var.SystemFolderId)">
			<Directory Id="DynWrapX"/>
		</DirectoryRef>

		<ComponentGroupRef Id="DynWrapX.dll"/>
		<ComponentGroupRef Id="DynWrapX.chm"/>

	</Module>
</Wix>